//noinspection SassScssResolvedByNameOnly
[data-engrid-theme="nwf2"] {
  //Colors
  --color_primary: #132A44;
  --color_cyan: #A3D3D6;
  --color_orange: #CC4B24;

  //Layout
  --engrid__body_background-color: #f4f4f4;
  --engrid__page_background-color: #f4f4f4;
  --engrid__content-header_background-color: #f4f4f4;
  --engrid__content-footer_background-color: #ffffff;
  --engrid__body_box-shadow: none;
  --engrid__body_padding: 0 123px;
  --engrid__content-footer_padding: 70px 123px;

  //Typography: default
  --default_font-family: "Fira Sans", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Helvetica, Arial, sans-serif;
  --default_color: var(--color_primary);
  --default_font-size: var(--root_font-size);
  --default_line-height: 1.4;

  //Typography: headers
  --h1_font-family: "Patua One", serif;
  --h1_font-size: 4.2rem;
  --h1_line-height: 1.1;
  --h2_font-size: 2.5rem;

  //Typography: paragraphs
  --p_font-size: var(--root_font-size);
  --p_line-height: 1.6;

  //Click to expand
  --click-to-expand__copy-area_height: 170px;
  --click-to-expand__cta-image_url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M5.53857 13.5385L11.077 7.99999L5.53857 2.46153' stroke='%23132A44' stroke-width='2'/%3E%3C/svg%3E");;

  //Inputs
  --input_color: var(--color_primary);
  --input_background-color: #ffffff;
  --input_border-width: 2px;
  --input_border-color: var(--color_primary);
  --input_border-radius: 8px;
  --input_font-size: 24px;
  --input_placeholder-color: rgba(19, 42, 68, .7);
  --input_placeholder-font-weight: 300;
  --input_box-shadow: 0;
  --input_placeholder-font-size: 24px;
  --input_padding: 12px 16px;

  //Input label
  --label_font-weight: 500;
  --label_font-size: 18px;
  --label_color: var(--color_primary);

  //Radios
  --radio_background-color: #ffffff;
  --radio_border-color: var(--color_primary);
  --radio_border-background-color: #ffffff;
  --radio_width: 28px;
  --radio_height: 28px;
  --radio_box-shadow_hover: none;
  --radio_border-color_hover: var(--color_cyan);
  --radio_color_selected: var(--color_primary);
  --radio_background-color_selected: var(--color_primary);
  --radio_border-color_selected: var(--color_primary);
  --radio_box-shadow_selected: inset 0 0 0 5px var(--color_cyan);

  //Checkboxes
  --checkbox_background-color_checked: var(--color_cyan);
  --checkbox_border-radius: 5px;

  //Errors
  --error__color: var(--color_orange);

  //Buttons
  --button_font-family: var(--h1_font-family);
  --button_color: var(--color_primary);
  --button_font-size: 2rem;
  --button_background-color: #ffffff;
  --button_border-width: 2px;
  --button_border-color: var(--color_primary);
  --button_border-radius: 8px;
  --button_padding: 1rem;

  //Button:hover
  --button_color_hover: var(--button_color);
  --button_background-color_hover: var(--button_background-color);
  --button_border-color_hover: var(--color_cyan);

  //Button:checked
  --button_color_checked: var(--button_color);
  --button_background-color_checked: var(--color_cyan);
  --button_border-color_checked: var(--button_border-color);

  //Donation Page
  --give-monthly-donation-amount-appended-label: "/mo";
  --give-annual-donation-amount-appended-label: "/yr";

  //Recurring frequency buttons
  --recurring-frequency__button_count: 2;
  --recurring-frequency__button_padding: 1.5rem 1rem;
  --recurring-frequency__button_border-radius: 16px;
  --recurring-frequency__button_background-color_checked: var(--button_background-color_checked);
  --recurring-frequency__button_border-color_checked: var(--button_border-color);

  //Donation amount buttons
  --donation-amount__button_count: 3;
  --donation-amount__button_font-size: 2.5rem;
  --donation-amount__button_background-color_checked: var(--button_background-color_checked);
  --donation-amount__button_border-color_checked: var(--button_border-color);

  //Premiums
  --premium__image_max-height: 100px;

  //Give by select
  --give-by-select__button_count: 1;
  --give-by-select__button_background-color_checked: var(--button_background-color_checked);
  --give-by-select__button_border-color_checked: var(--button_border-color);

  //Submit button
  --submit__button_color: #ffffff;
  --submit__button_color_hover: #ffffff;
  --submit__button_background-color: var(--color_orange);
  --submit__button_background-color_hover: #af421e;
  --submit__button_border-color: var(--color_orange);
  --submit__button_border-color_hover: #af421e;

  -webkit-font-smoothing: antialiased;

  //Hide unused page sections in page builder
  &#en__pagebuilder .en__component--advrow {
    .page-alert,
    .body-headerOutside,
    .body-header,
    .body-bannerOverlay,
    .body-footer,
    .body-footerOutside,
    .content-footerSpacer,
    .content-preFooter,
    .page-backgroundImageOverlay {
      display: none;
    }
  }

  .content-header,
  .content-footer {
    grid-column: bc;
  }

  &[data-engrid-layout="centercenter2col"] {
    --engrid__body-header_padding: 0;
    --engrid__body_padding: 0 2rem;
    --engrid__body-top_padding: 0 2rem;
    --engrid__body-main_padding: 1rem 2rem;
    --engrid__body-footer_padding: 0;
    --engrid__body-title_padding: 1rem 2rem;
    --donation-amount__button_count: 2;

    .content-header,
    .content-footer {
      grid-column: pc;
    }

    .en__component--premiumgiftblock {
      .en__pg__body {
        grid-template-columns: min-content auto;
        grid-template-areas:
          "en__pg__select en__pg__detail"
          ". en__pg__display";
        row-gap: 20px;
      }
    }

    .payment-information-header {
      flex-direction: column;
      align-items: flex-start;
      h2 {
        margin-bottom: 5px;
      }
    }
  }

  @media screen and (min-width: $one_col_body-column_max-width) {
    &:not(#en__pagebuilder)[data-engrid-layout="leftleft1col"] {
      .page-backgroundImage {
        z-index: 5;
        grid-column: rpc/pc;

        figure.media-with-attribution,
        &:before {
          left: $one_col_body-column_max-width;
          right: 0;
          width: calc(100% - $one_col_body-column_max-width);
          background-position: center !important;
        }
      }
    }

    &:not(#en__pagebuilder)[data-engrid-layout="rightright1col"] {
      .page-backgroundImage {
        z-index: 5;
        grid-column: pc/lpc;

        &:before,
        figure.media-with-attribution {
          left: 0;
          right: $one_col_body-column_max-width;
          width: calc(100% - $one_col_body-column_max-width);
          background-position: center !important;

          figattribution {
            left: 10px;
          }
        }
      }
    }
  }

  // Reducing padding on the offset 1 col layouts to account for content column space
  &[data-engrid-layout="centerleft1col"],
  &[data-engrid-layout="centerright1col"],
  &[data-engrid-layout="centercenter1col"] {
    @media screen and (min-width: $one_col_content-column_min-width) and (max-width: 930px) {
      --engrid__body_padding: 0 80px;
      --engrid__content-footer_padding: 70px 80px;
    }
  }

  //Recurring frequency buttons
  .radio-to-buttons_recurrfreq .en__field--recurrfreq.en__field--radio {
    .en__field__element .en__field__item {
      &:first-of-type {
        padding-right: 0;
        label {
          border-radius: var(--recurring-frequency__button_border-radius) 0 0 var(--recurring-frequency__button_border-radius);
        }
        input:not(:checked) + label {
          border-right: none;
        }
      }

      &:last-of-type {
        padding-left: 0;
        label {
          overflow: hidden;
          position: relative;
          border-radius: 0 var(--recurring-frequency__button_border-radius) var(--recurring-frequency__button_border-radius) 0;
          svg {
            position: absolute;
            left: -15px;
            //width: 273px!important;
            //height: 87px!important;
          }
        }
        input:not(:checked) + label {
          border-left: none;
        }
      }
    }
  }

  //Other amount input
  .en__field--withOther.en__field--radio.en__field--donationAmt .en__field__item--other {
    flex-basis: 100%;
    position: relative;

    &:before {
      content: url("data:image/svg+xml,%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8314 13.3937C11.7201 13.0339 11.585 12.7208 11.4264 12.4549C11.2679 12.1887 11.0409 11.9291 10.7449 11.6751C10.4492 11.4213 10.1833 11.2168 9.94747 11.0614C9.71179 10.9059 9.38804 10.732 8.97641 10.5395C8.56514 10.3471 8.23927 10.2039 7.9994 10.1097C7.75921 10.0157 7.41177 9.88677 6.9573 9.72307C6.55436 9.57583 6.25436 9.46325 6.05696 9.38555C5.8598 9.30776 5.60051 9.19734 5.27897 9.05402C4.95757 8.91091 4.71747 8.78397 4.55882 8.67354C4.40021 8.56312 4.23093 8.42809 4.05083 8.26852C3.87074 8.10894 3.74429 7.93909 3.67136 7.75904C3.59861 7.57895 3.56212 7.38248 3.56212 7.16967C3.56212 6.61324 3.81925 6.15885 4.33368 5.80702C4.84815 5.45518 5.51272 5.27918 6.32729 5.27918C6.68721 5.27918 7.05415 5.32618 7.42686 5.42039C7.79958 5.51461 8.119 5.62074 8.38482 5.7395C8.65086 5.85827 8.90154 5.98925 9.1374 6.1324C9.37322 6.27568 9.54034 6.38405 9.63904 6.45771C9.73765 6.53141 9.80012 6.58047 9.82557 6.60507C9.9372 6.6869 10.0527 6.7155 10.1727 6.69103C10.3013 6.68286 10.4 6.61728 10.4687 6.49464L11.5106 4.70219C11.6135 4.53857 11.5922 4.38304 11.4463 4.23563C11.3948 4.18653 11.3307 4.12929 11.253 4.06376C11.1761 3.99823 11.0088 3.87959 10.7514 3.70763C10.4942 3.53579 10.222 3.38232 9.93499 3.24726C9.64764 3.11232 9.27457 2.97515 8.81582 2.83608C8.35734 2.6968 7.8835 2.60276 7.39466 2.5537V0.392856C7.39466 0.278345 7.35614 0.184173 7.2792 0.110469C7.20208 0.0369378 7.10343 0 6.9832 0H5.24685C5.13541 0 5.03896 0.0388298 4.95752 0.116618C4.87608 0.194407 4.83536 0.286429 4.83536 0.392856V2.60272C3.4892 2.84817 2.39601 3.39656 1.55577 4.24776C0.71561 5.09901 0.295374 6.08919 0.295374 7.21878C0.295374 7.55432 0.331952 7.87351 0.404837 8.17619C0.477631 8.47914 0.567723 8.75129 0.674933 8.9927C0.782053 9.23428 0.93431 9.47155 1.13148 9.70488C1.32864 9.93811 1.51518 10.1387 1.69091 10.3064C1.86672 10.474 2.0961 10.648 2.37894 10.828C2.66197 11.0082 2.90418 11.1536 3.10572 11.264C3.3073 11.3741 3.57519 11.5014 3.90948 11.6443C4.24385 11.7876 4.5076 11.8959 4.70053 11.9697C4.89347 12.0433 5.15708 12.1457 5.49159 12.2764C5.95453 12.4483 6.29756 12.5813 6.52044 12.6755C6.74351 12.7697 7.02636 12.9006 7.36952 13.0684C7.71237 13.236 7.96305 13.3895 8.12179 13.5287C8.2804 13.6679 8.42396 13.8398 8.55266 14.0444C8.68136 14.2489 8.74582 14.4658 8.74582 14.6951C8.74582 15.3417 8.48216 15.8409 7.95471 16.1925C7.42749 16.5446 6.8164 16.7205 6.12201 16.7205C5.80507 16.7205 5.48758 16.688 5.17045 16.6225C4.05583 16.4095 3.01414 15.8979 2.04528 15.0877L2.01956 15.0631C1.94235 14.9733 1.83942 14.9365 1.71095 14.9529C1.57374 14.9693 1.47509 15.0184 1.41513 15.1004L0.0904136 16.7577C-0.0382384 16.9213 -0.0295442 17.0891 0.11618 17.261C0.159109 17.3101 0.234111 17.3839 0.341231 17.482C0.448621 17.5804 0.647996 17.7336 0.939355 17.9427C1.2308 18.1515 1.54806 18.3477 1.89109 18.5321C2.23407 18.7162 2.66913 18.8982 3.19653 19.0783C3.72393 19.2582 4.27039 19.385 4.8363 19.4586V21.6071C4.8363 21.7136 4.87707 21.8056 4.95847 21.8834C5.03996 21.9613 5.13635 22 5.2478 22H6.98415C7.10438 22 7.20303 21.9632 7.2801 21.8897C7.35718 21.8161 7.39556 21.7219 7.39556 21.6071V19.4586C8.75906 19.2459 9.86724 18.6873 10.7202 17.7828C11.5733 16.8784 12 15.8 12 14.5479C11.9995 14.1387 11.9439 13.7541 11.8314 13.3937Z' fill='%23132A44'/%3E%3C/svg%3E");
      //font-family: var(--default_font-family);
      //font-size: 22px;
      //font-weight: 700;
      //content: "$";
      height: 22px;
      left: 25px;
      position: absolute;
      top: 50%;
      transform: translateY(calc(-50% - 2px));
      width: 12px;
    }

    &:after {
      content: "USD";
      display: block;
      font-size: 14px;
      font-weight: bold;
      height: 0;
      right: 27px;
      line-height: 0;
      position: absolute;
      top: 50%;
      color: var(--color-primary);
    }

    input {
      padding: 21px 52px 21px 40px;
      font-size: 28px;
    }
  }

  .en__field__input--radio:focus + .en__field__label {
    outline: none;
  }

  .radio-to-buttons_donationAmt .en__field--donationAmt.en__field--radio {
    input[type="radio"] {
      + label {
        transition: transform 0.1s linear;

        .engrid-currency-symbol {
          font-family: var(--default_font-family);
          font-size: 22px;
          font-weight: 700;
          padding-right: 2px;
        }
      }

      &:not(:checked) + label:hover {
        transform: translateY(-2px);
      }
    }
  }

  //Making tick bold without making label text bold
  input[type=checkbox] + label:before {
    font-weight: 700;
    font-size: 18px;
    padding-top: 3px;
  }

  .media-with-attribution figattribution {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #ffffff;
    bottom: 10px;
    right: 10px;
    padding: 0;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    margin: 0;

    &:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='15' viewBox='0 0 5 15' fill='none'%3E%3Cpath d='M0.2 4.77779C0.946667 4.60927 1.64 4.52502 2.28 4.52502C2.92 4.52502 3.46 4.54446 3.9 4.58335V12.3417C4.42 12.5361 4.78667 12.7565 5 13.0028L4.8 14.5H0.2L0 13.0028C0.186667 12.7565 0.553333 12.5361 1.1 12.3417V6.93613C0.633333 6.78057 0.266667 6.5602 0 6.27502L0.2 4.77779ZM2.46 2.93611C1.35333 2.93611 0.8 2.45 0.8 1.47778C0.8 0.492592 1.35333 0 2.46 0C3.58 0 4.14 0.492592 4.14 1.47778C4.14 2.45 3.58 2.93611 2.46 2.93611Z' fill='%23132A44'/%3E%3C/svg%3E");
      content: "";
      display: block;
      height: 15px;
      left: 9px;
      position: absolute;
      top: 4px;
      width: 5px;
      z-index: 11111111111;
    }
  }

  .tippy-box {
    background-color: var(--color_primary);
    color: #ffffff;
    padding: 8px;
    font-size: 16px;
    bottom: 10px;
    width: 400px;
    max-width: calc(100vw - 54px)!important;

    .tippy-content {
      padding: 0;

      > :first-child {
        font-family: var(--h1_font-family);
        margin-top: 0!important;
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 0;
      }

      > :last-child {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }

  //Premiums
  .en__component--premiumgiftblock {
    margin: 64px 0 7px;

    .en__pgHeader {
      margin-top: 0;
      margin-bottom: 1.8rem;
    }

    .en__pg__body {
      column-gap: 20px;
      padding: 0;
      margin-bottom: 2rem;
      grid-template-columns: min-content 276px var(--premium__image_max-width);
      @media (max-width: 600px) {
        grid-template-columns: min-content auto var(--premium__image_max-width);
      }
    }

    .en__pg__select {
      align-self: start;
      padding-top: 3px;
    }

    .en__pg__name {
      font-family: var(--default_font-family);
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 3px;
    }

    .en__pg__description {
      align-self: start;
      font-size: 18px;
      line-height: 1.6;
    }
  }

  //Give by select styles
  .give-by-select.en__field--give-by-select {
    .card img {
      height: 28px;
      width: auto;
    }

    .paypaltouch img {
      height: 28px;
      width: auto;
    }

    .paypal img {
      height: 28px;
      width: auto;
    }

    .stripedigitalwallet img {
      height: 28px;
      width: auto;
      margin: 0;

      &:first-of-type {
        margin-right: 20px;
      }
    }

    .check input[type=radio] + label {
      padding: 11px 1rem;
      font-size: 31px;
    }
  }

  .en__component--dd360search > p {
    font-weight: 500;
    margin-bottom: 0;
  }

  .en__captcha {
    width: 100%;
    justify-content: center;

    .g-recaptcha > div {
      margin: 0 auto;
    }
  }

  .en__submit button {
    border-radius: 16px;
    transition: transform 0.1s linear;

    &:hover {
      transform: translateY(-2px);
    }
  }

  //Place errors above background image
  .en__errorList {
    z-index: 6;
    position: relative;
  }

  // If the PayPal One Touch / Venmo option is enabled, hide Vanilla Paypal when a one-time gift is selected so only one PayPal option is ever visible at a time
  &[data-engrid-transaction-recurring="n"][data-engrid-payment-type-option-paypal-one-touch="true"] .en__field--give-by-select .en__field__item.paypal {
    display: none;
  }

  .charity-logos-wrapper {
    border-top: 2px solid var(--color_primary);
    margin: 20px 0 85px;
    p {
      text-align: center;
      max-width: 409px;
      width: 100%;
      margin: 1rem auto;
    }
    img {
      margin: 25px 0 8px;
    }
  }

  // Page Footer
  .nwf2-page-footer {
    font-size: 20px;
    text-align: center;
    color: #000000;
    max-width: 530px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.2;

    .footer-head {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;

      .nwf_logo_footer {
        width: 90px;
        height: 90px;
        margin: 0 10px 0 0;
      }

      h4 {
        font-size: 22px;
      }
    }

    .footer-head + p {
      font-size: 25px;
      font-style: italic;
    }

    p {
      font-size: 20px;
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0;
    }

    .social-media-links {
      width: 280px;
      margin: 0 auto;
      padding: 0;
      li {
        width: 40px;
      }
    }

    .f-btn {
      display: block;
      margin: 50px auto;
      max-width: 250px;
      border-radius: 16px;
      transition: transform .1s linear;
      background-color: var(--submit__button_background-color);
      border-color: var(--submit__button_border-color);
      color: var(--submit__button_color);
      font-size: 20px;
      text-decoration: none;
      padding: 20px 40px;
      font-weight: 500;

      &:hover {
        transform: translateY(-2px);
        background-color: var(--submit__button_background-color_hover);
        border-color: var(--submit__button_border-color_hover);
      }
    }
  }

  .page-header {
    padding: 20px;
    display: flex;
    align-items: center;

    img {
      width: 82px;
      margin-right: 18px;
    }

    span {
      font-family: var(--h1_font-family);
      font-size: 22px;
    }
  }

  // Click to expand
  &:not(#en__pagebuilder) .click-to-expand {
    margin-bottom: 50px;

    &:not(.expanded) {
      padding-bottom: 10px;

      .click-to-expand-cta {
        margin-left: 0;
        width: auto;
        background-position: left;
        height: 24px;

        &:after {
          content: "Learn More";
          position: relative;
          left: 20px;
          font-size: 20px;
          font-weight: 600;
          top: -2px;
        }
      }
    }
  }

  //Monthly upsell
  .monthly-upsell-msg {
    img {
      width: 56px;
    }
    .text-nudge {
      font-family: "Fuzzy Bubbles", sans-serif;
      text-align: center;
      font-weight: bold;
      margin-top: 10px;
      font-size: 20px;
    }
    p:not(.text-nudge) {
      margin: 0;
    }
  }

  .payment-information-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 13px;

    h2 {
      margin: 0;
    }

    > div {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;

      svg {
        margin-right: 10px;
      }
    }
  }

  // Thank you page
  .en__component--dd360confirmation {
    margin: 30px 0;
    #dd-container .dtd-plugin button,
    #dd-container .dtd-plugin a[class*=-button]{
      font-size: 20px;
    }
  }

  .social-sharing p {
    text-align: center;
  }

  .cards-container {
    margin-bottom: 80px;
    .cards-title {
      text-align: center;
      margin: 0 0 20px;
    }

    article.block a {
      display: flex;
      text-decoration: none;
      img {
        max-width: 169px;
        margin-right: 15px;
      }
      margin-bottom: 25px;
    }
  }

  #goMonthly {
    --submit__button_font-size: 1.2rem;
    --submit__button_padding-top: 15px;
    --submit__button_padding-bottom: 15px;
    --button_font-size: 1.2rem;
    --h1_font-size: 2.5rem;
  }

  @media screen and (max-width: 800px) {
    --engrid__body_padding: 0 80px;
    --engrid__content-footer_padding: 70px 80px;

    @include engrid_replace-banner-with-background("leftleft1col");
    @include engrid_replace-banner-with-background("rightright1col");
    @include engrid_replace-banner-with-background("centerright1col");
    @include engrid_replace-banner-with-background("centerleft1col");
    @include engrid_replace-banner-with-background("centercenter1col");
    @include engrid_replace-banner-with-background("centercenter2col");

    &[data-replace-banner-with-background="if-banner-empty"][data-engrid-body-banner="empty"][data-engrid-page-background="image"] {
      [class*="page-backgroundImage"] {
        grid-row: body-banner !important;
        min-height: var(--banner-image-height);
        margin: 15px 0 30px;
        z-index: auto!important;

        figure {
          // Change from absolute positioning so that it will have height
          position: relative !important;
          max-height: var(--banner-image-height, 250px);
          display: flex;
          align-items: center;
          aspect-ratio: initial;
        }
      }
    }
  }

  @media screen and (max-width: 599px) {
    --engrid__body_padding: 0 20px;
    --engrid__content-footer_padding: 70px 20px;
    --donation-amount__button_count: 2;
    --h1_font-size: 2.5rem;
    --h2_font-size: 1.75rem;
    --button_font-size: 1.5rem;
    --donation-amount__button_font-size: 1.5rem;
    --input_font-size: 20px;
    --recurring-frequency__button_padding: 1rem;
    --recurring-frequency__button_font-size: 1.3rem;

    .page-header span {
      margin-left: 15px;
    }

    .monthly-upsell-msg .text-nudge {
      font-size: 16px;
    }

    .en__field--withOther.en__field--radio.en__field--donationAmt .en__field__item--other input {
      font-size: 1.5rem;
      padding: 14px 52px 14px 40px;
    }

    .en__component--premiumgiftblock {
      .en__pg__body {
        grid-template-columns: min-content auto;
        grid-template-areas:
          "en__pg__select en__pg__detail"
          "en__pg__display en__pg__display";
        row-gap: 20px;
      }
    }

    .payment-information-header {
      flex-direction: column;

      div {
        display: none;
      }

      h2 {
        margin-bottom: 5px;
      }
    }

    .nwf2-page-footer {
      .footer-head {
        text-align: left;
      }

      .footer-head + p {
        font-size: 22px;
      }

      p {
        font-size: 18px;
      }

      .footer-links {
        flex-direction: column;
        row-gap: 15px;
      }
    }
  }

  @media screen and (max-width: 400px) {
    .radio-to-buttons_recurrfreq .en__field__item:last-of-type {
      svg {
        width: 180px!important;
        height: 57px!important;
      }
    }
  }

  @media screen and (max-width: 359px) {
    .radio-to-buttons_recurrfreq .en__field__item:last-of-type {
      svg {
        left: -25px!important;
      }
    }
  }
}
