// The most broadly used CSS Custom Properties for quick theming.
// Uncomment to use and reference engrid-scrips SASS files for more CSS Custom Properties.
// All CSS Custom Properties should be scoped to the theme using CSS Data Attributes.
[data-engrid-theme="nwf"] {
  // PRIMARY COLORS
  // e.g. Used for the main Submit Button
  --color_primary: #4d9068;
  --color_primary_overlay: #ffffff;
  --color_primary_accent: #333;

  // SECONDARY COLORS
  // e.g. Used for the non-Submit Buttons
  --color_secondary: #e0e9ea;
  // --color_secondary_overlay: #ffffff;
  // --color_secondary_accent: #000000;

  // TYPOGRAPHY DEFAULT
  --default_font-family: "Fira Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif;
  --default_color: var(--color_primary_accent);
  --default_font-size: var(--root_font-size);
  // --default_font-weight: initial;
  --default_line-height: 1.4;

  // TYPOGRAPHY H1
  --h1_font-family: "Patua One", serif;
  --h1_color: var(--color_primary);
  --h1_font-size: 2.4rem;
  // --h1_font-weight: initial;
  // --h1_line-height: initial;

  // TYPOGRAPHY H2, H3, H4
  --h2_color: var(--color_primary);
  --h3_color: var(--color_primary);
  --h4_color: #000;

  // TYPOGRAPHY P
  // --p_font-family: var(--default_font-family);
  // --color_primary: initial;
  --p_font-size: var(--root_font-size);
  // --p_font-weight: initial;
  --p_line-height: 1.7;

  // TYPOGRAPHY A
  // --a_font-family: var(--default_font-family);
  // --a_color: initial;
  // --a_text-decoration: underline;

  // TYPOGRAPHY A:FOCUS
  // TYPOGRAPHY A:HOVER
  // --a_color_hover: var(--a_color);
  // --a_text-decoration_hover: initial;

  // TYPOGRAPHY INPUT
  --input_font-family: var(--default_font-family);
  // --input_color: #000000;
  // --input_font-size: var(--root_font-size);
  // --input_font-weight: initial;
  // --input_line-height: initial;
  --input_background-color: var(--color_secondary);
  --input_border-width: 2px;
  --input_border-color: var(--color_secondary);
  --input_border-radius: 0;
  // --input_placeholder-color: #6a6a6a;
  --input_box-shadow: 0;
  --input_placeholder-font-size: 0.9rem;

  // TYPOGRAPHY INPUT:FOCUS
  // TYPOGRAPHY INPUT:HOVER
  // --input_color_hover: var(--input_color);
  // --input_background-color_hover: var(--input_background-color);
  // --input_border-color_hover: #767677;
  // --input_border-bottom-color_hover: var(--input_border-color_hover);
  // --input_box-shadow_hover: --input_box-shadow;

  // TYPOGRAPHY INPUT LABELS
  --label_font-weight: 700;
  --label_font-size: 0.9rem;

  // TYPOGRAPHY BUTTON
  // --button_font-family: var(--default_font-family);
  --button_color: var(--color_primary);
  --button_font-size: 1.2rem;
  // --button_font-weight: initial;
  // --button_line-height: initial;
  --button_background-color: var(--color_secondary);
  --button_border-width: 0;
  // --button_border-color: var(--color_black);
  --button_border-radius: 0;
  --button_padding: 1.7ch 1ch;

  // TYPOGRAPHY BUTTON:HOVER
  // --button_color_hover: var(--button_color);
  --button_background-color_hover: var(--button_background-color);
  // --button_border-color_hover: var(--button_background-color_hover);

  // TYPOGRAPHY BUTTON:SELECTED
  --button_color_checked: var(--color_secondary);
  --button_background-color_checked: var(--color_primary);
  // --button_border-color_checked: var(--button_border-color_hover);

  // DONATION PAGE
  --give-monthly-donation-amount-appended-label: "/mo";
  // --give-annual-donation-amount-appended-label: "/yr";
  --recurring-frequency__button_count: 3;
  --donation-amount__button_count: 3;
  --give-by-select__button_count: 4;

  // GIVE BY SELECTS
  --give-by-select__button_background-color_checked: var(--color_primary);
  --give-by-select__button_color_checked: #ffffff;

  // RADIOS
  --radio_background-color: #ffffff;
  --radio_border-color: var(--color_primary);
  --radio_border-background-color: #ffffff;
  --radio_width: 22px;
  --radio_height: 22px;
  --radio_box-shadow_hover: none;
  --radio_color_selected: var(--color_primary);
  --radio_background-color_selected: var(--color_primary);
  --radio_border-color_selected: var(--color_primary);
  --radio_box-shadow_selected: inset 0 0 0 4px #fff;

  // CHECKBOXES
  --checkbox_padding-top: 2px;
  --checkbox_border-color_checked: var(--color_primary);
  --checkbox_background-color_checked: #ffffff;
  --checkbox_color_checked: var(--color_primary);

  // --fields_spacing-block: 0.5rem;
  // --fields_spacing-inline: 0.5rem;

  --input_placeholder-color: #888b8b;

  --recurring-frequency__button_background-color_checked: var(--color_primary);
  --recurring-frequency__button_color_checked: var(--color_primary_overlay);
  --recurring-frequency__button_text-transform: uppercase;
  --donation-amount__button_background-color_checked: var(--color_primary);
  --donation-amount__button_color_checked: var(--color_primary_overlay);
  --give-by-select__button_text-transform: uppercase;

  // TYPOGRAPHY SUBMIT BUTTON
  --submit__button_color: #ffffff;
  --submit__button_background-color: #ad7c1d;
  --submit__button_padding-top: 1rem;
  --submit__button_padding-bottom: 1rem;
  --submit__button_text-transform: uppercase;

  // TYPOGRAPHY SUBMIT BUTTON:HOVER
  --submit__button_color_hover: #ffffff;
  --submit__button_background-color_hover: #8c6b29;

  // TYPOGRAPHY MEDIA ATTRIBUTION
  --media-attribution__background-color: transparent;
  --media-attribution__margin: 0ch 0.8ch;
  --media-attribution__padding: 0;
  --media-attribution__font-size: 10px;
  --media-attribution__text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
  --media-attribution__color: hsl(0deg 0% 100% / 90%);
  --media-attribution__font-weight: 400;

  --engrid__content-footer_margin: 40px 0 0 0;
}

@mixin simple-footer {
  .body-main {
    padding-bottom: 2rem;
  }

  /*FOOTER*/
  .footer_logo_rr,
  .nwf_logo_footer {
    width: 109px;
  }

  .footertext {
    text-align: center;
    font-family: "Fira Sans";
    font-size: 10px;
    color: #aaa;
    line-height: 22px;
  }

  .footer-spacer {
    padding: 30px;
  }

  .footer-nav-spacer {
    display: inline;
  }

  .footer {
    font-family: "Fira Sans", sans-serif;
  }

  .footer_color {
  }

  .footer-boxes {
    margin-top: 40px;
  }

  .footer-boxes img {
    padding-bottom: 15px;
  }

  .footer-boxes p {
    font-size: 12px;
    padding-bottom: 0px;
  }

  .footer-boxes .large-subhead {
    font-weight: 400;
  }

  .footer-boxes h4 {
    margin-top: 0px;
  }

  .footer-boxes ul {
    padding: 0px;
    margin-top: 20px;
  }

  .footer-nav-container {
    padding: 0px;
    clear: left;
  }

  .footer-nav {
    display: table;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .footer-nav-item {
    display: inline-block;
    font-family: "Fira Sans", sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    padding: 0px;
    cursor: pointer;
    position: relative;
    font-weight: 400;
  }

  div.ac-wrapper-footer ul {
    -webkit-padding-start: 0px !important;
    padding: 0px;
  }

  .ac-wrapper-footer {
    text-align: center;
    padding: 30px;
    font-family: "Fira Sans", sans-serif;
  }
  .svg-inline--fa {
    font-size: 50px;
    padding: 5px;
  }
  .ac-wrapper-footer li {
    list-style: none;
    display: inline-block;
    font-size: 13px;
  }
  .ac-wrapper-footer p {
    font-size: 10px;
  }
  .ac-wrapper-footer a {
    text-decoration: none;
  }

  .media-footer h4 {
    margin: 20px 0px 10px 0px;
  }
  .media-footer p {
    font-size: 0.8em;
  }

  /* SOCIAL MEDIA */
  .svg-inline--fa {
    font-size: 50px;
    padding: 5px;
  }

  .svg-inline--fa {
    display: inline-block;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
  }
}

/* Add your custom theme styles here */
[data-engrid-theme="nwf"] {
  @mixin until-mobile-l {
    // STYLES
  }

  @mixin from-mobile-l {
    // STYLES
  }

  @mixin simplified-header {
    // STLES
  }

  // Example Breakpoints Stylings (See engrid-scripts > _engrid-breakpoints.scss for more breakpoints)
  &[data-engrid-layout] {
    @include mq($until: mobile-l) {
      @include until-mobile-l;
    }

    @include mq($from: mobile-l) {
      @include from-mobile-l;
    }
  }

  // Example of Shared Layout Stylings
  &[data-engrid-layout="centerleft1col"] {
    @media screen and (max-width: $centerleft1col_content-column_min-width) {
      @include simplified-header;
    }
  }

  &[data-engrid-layout="centerright1col"] {
    @media screen and (max-width: $centerright1col_content-column_min-width) {
      @include simplified-header;
    }
  }
}

/* Add your custom theme styles here */
[data-engrid-theme="nwf"] {
  .page-alert,
  .body-headerOutside,
  .body-bannerOverlay,
  .body-bottom,
  .body-footer,
  .body-footerOutside,
  .content-preFooter,
  .page-backgroundImageOverlay {
    display: none !important;
  }

  &[data-engrid-layout*="1col"] {
    --engrid__page_background-color: #e0e9ea;
    --engrid__content_background-color: #ffffff;
    --engrid__body_background-color: #ffffff;
  }

  &[data-engrid-layout*="2col"] {
    .body-top {
      --engrid__body-top_background-color: var(--color_secondary);
    }
  }

  --fields_spacing-inline: 0.25rem;

  .en__field--recurrfreq,
  .give-by-select,
  .en__field--donationAmt {
    label {
      outline: none !important;
    }
  }

  .en__field--recurrfreq .en__field__element,
  .give-by-select .en__field__element {
    --fields_spacing-inline: 0rem;
    --fields_spacing-block: 0.25rem;
  }

  .en__field--donationAmt {
    --fields_spacing-block: 0.25rem;

    .en__field__label--item {
      align-items: flex-end;

      &:after {
        --fields_spacing-inline: 0;
        font-size: 85% !important;
        margin-left: 0 !important;
        opacity: 0.75 !important;
      }
    }

    .en__field__item--other {
      flex-grow: 1; // Expand to fill the row

      .en__field__input--other {
        padding: var(--button_padding);
        font-size: var(--button_font-size);
        line-height: var(--button_line-height);
        text-align: center;
      }
    }
  }

  &.en__field--validationFailed {
    margin-bottom: calc(
      var(--fields_spacing-block) * 2
    ); // Give a little breathing room when a field has an error
  }

  // NWF had some unexpected markup in their labels on Survey pages, this cleans up the display https://d.pr/v/nwsuT4
  .en__field--survey {
    .en__field__label.en__field__label--positionabove {
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    input[type="checkbox"] + label {
      flex-wrap: wrap;
      br {
        display: none;
      }
    }
  }

  .en__submit button {
    margin: 1rem 0;
  }

  h1,
  h2 {
    text-align: center;
  }

  input:focus,
  button:focus {
    outline: 1px solid #333;
    border-radius: 0;
  }

  [type="button"],
  [type="reset"],
  [type="submit"],
  button {
    text-transform: uppercase;
  }

  .recurring-payment .en__field__item:focus {
    padding: 0;
    border-radius: 0;
  }

  .en__field--recurrfreq > .en__field__element > .en__field__item {
    flex-basis: 40%;
  }

  .en__field--give-by-select.en__field--radio input[type="radio"] + label,
  .radio-to-buttons .en__field--radio input[type="radio"] + label {
    white-space: nowrap;
  }

  // Imported styles
  .NWF_name {
    position: absolute;
    top: 26px;
    left: 200px;
    z-index: 2;

    h4 {
      color: #000;
    }
  }

  .nav-spacer {
    height: 90px;
    position: relative;
    z-index: 1;
    // background-color: #fff;
  }

  .navbar-header {
    // float: left;
  }

  .btn-group-vertical > .btn-group:after,
  .btn-group-vertical > .btn-group:before,
  .btn-toolbar:after,
  .btn-toolbar:before,
  .clearfix:after,
  .clearfix:before,
  .container-fluid:after,
  .container-fluid:before,
  .container:after,
  .container:before,
  .dl-horizontal dd:after,
  .dl-horizontal dd:before,
  .form-horizontal .form-group:after,
  .form-horizontal .form-group:before,
  .modal-footer:after,
  .modal-footer:before,
  .modal-header:after,
  .modal-header:before,
  .nav:after,
  .nav:before,
  .navbar-collapse:after,
  .navbar-collapse:before,
  .navbar-header:after,
  .navbar-header:before,
  .navbar:after,
  .navbar:before,
  .pager:after,
  .pager:before,
  .panel-body:after,
  .panel-body:before,
  .row:after,
  .row:before {
    display: table;
    content: " ";
  }

  .btn-group-vertical > .btn-group:after,
  .btn-toolbar:after,
  .clearfix:after,
  .container-fluid:after,
  .container:after,
  .dl-horizontal dd:after,
  .form-horizontal .form-group:after,
  .modal-footer:after,
  .modal-header:after,
  .nav:after,
  .navbar-collapse:after,
  .navbar-header:after,
  .navbar:after,
  .pager:after,
  .panel-body:after,
  .row:after {
    clear: both;
  }

  #main-nav,
  #footer-nav {
    margin-bottom: 0px;
    text-transform: uppercase;
    // position: absolute;
    z-index: 100;
    // width: 100%;
    height: 65px;
    background-color: #000;
    grid-column: pc;
  }

  .navbar-brand {
    display: block;
    float: none;
    margin: 0px auto;
    position: relative;
    padding: 0px;
    top: 5px;
    left: 0px;
    // width: 118px;
  }

  .navbar-brand > img {
    display: block;
    margin-top: -35px;
    margin-left: 40px;
    max-width: unset;
  }

  .logo_desktop {
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 5000px;
    color: transparent;
  }

  .navbar-inverse {
    background-color: #000;
    border: 0px;
  }

  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
  }

  // Force Survey Block Radio Buttons into a single column
  .en__component--svblock .en__field__element--radio {
    flex-direction: column;
    align-items: flex-start;
  }

  // .navbar-inverse .navbar-collapse,
  // .navbar-inverse .navbar-form {
  //   background: #000;
  //   height: 65px;
  // }

  // h1.top {
  //   margin: 0 0 2rem 0;
  // }

  .body-title {
    padding: 0;
    grid-row: body-headerOutside;
    grid-column: bc !important;

    h1 {
      margin: 0 0 1rem 0;
    }

    h1:first-child {
      margin-top: 1rem;
    }

    h1:last-child {
      margin-bottom: 2rem;
    }
  }

  .en__component--premiumgiftblock,
  .en__pg,
  .en__pgHeader {
    border: 0;
  }

  .en__pgHeader {
    background-color: #fff;
    padding: 0;
    color: var(--h2_color);
    font-family: var(--h2_font-family);
    font-size: var(--h2_font-size);
    font-weight: var(--h2_font-weight);
    line-height: var(--h2_line-height);
    margin-bottom: calc(1rem * var(--scale-down_20pct));
    margin-top: calc(2rem * var(--scale-down_20pct));
    text-align: center;
  }

  .en__pg__select {
    padding: 0 calc(var(--fields_spacing-inline) * 4) 0 0;
  }

  h2.en__pg__name {
    text-align: left;
  }

  .footer-social-icon {
    background: #272b2d;
    position: relative;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    list-style: none;
    display: inline-block;
    margin-right: 4px;
  }

  .benefits-copy {
    margin-top: 20px;
    margin-bottom: var(--spacing_lg);
    padding: 20px;
    background-color: #ffffff;
  }

  .content-footer {
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: flex-start;

      .footer-boxes {
        max-width: 30%;
        margin: 3rem 1rem;

        // img {
        //   width: 120px;
        //   height: auto;
        // }

        ul {
          padding: 0;
        }

        .footer-social-icon {
          img {
            width: 30px;
            padding: 5px;
          }
        }

        .legal-nav {
          font-size: 12px;
          color: #272b2d;
          list-style: none;
          font-weight: 700;
          margin: 0px;
          padding: 0px;
          margin-top: 40px;
        }

        .legal-nav li {
          // display: inline-block;
          float: left;
          padding-right: 20px;
        }
      }
    }
  }

  /** FOOTER SPACER **/
  // Bryan: The .content-footerSpacer height shouldn't be explicitly set because it always expands to ensure the footer is always on the bottom of the page, even when the body content is shorter than the browser window is tall.
  // .content-footerSpacer {
  //     height: 40px;
  // }

  // Force the footer spacer to occupy the body column so we can give it a white background that extends to the bottom of the top of the footer https://d.pr/i/pNH0gX
  .content-footerSpacer {
    grid-column: bc;
  }

  @media only screen and (min-width: 769px) {
    .social-sharing {
      text-align: center;
    }
  }

  @media screen and (max-width: 980px) {
    .navbar-brand {
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      z-index: 100;
    }

    .nav-spacer {
      display: none;
    }

    #main-nav {
      margin-bottom: 4rem;
    }

    .navbar-brand > img {
      display: unset;
      margin: 4rem 0 0 0;
      max-width: unset;
    }

    .NWF_name {
      display: none;
    }
  }

  @media screen and (max-width: 680px) {
    .navbar-brand > img {
      width: auto;
      height: 120px;
    }
  }

  @media screen and (max-width: 425px) {
    --engrid__body_padding: 0 calc(var(--fields_spacing-inline) * 4);
    --recurring-frequency__button_count: 2;
    --give-by-select__button_count: 3;
  }

  &[data-engrid-layout="centercenter2col"] {
    .body-banner {
      --engrid__body-banner_background-color: var(--color_secondary);

      img[data-src] {
        opacity: 0;
      }
    }

    @media screen and (max-width: $centercenter2col_body-column_min-width) {
      .content-footer .row {
        flex-direction: column;
        align-items: center;
      }
      .content-footer .row .footer-boxes {
        max-width: 100%;
        padding: 0;
      }
    }

    // @media screen and (min-width: $centercenter2col_body-column_min-width) {
    //   --engrid__body-main_padding: 0px 0px 0px var(--spacing_lg); // Remove right padding because visually it's unneeded
    //   --engrid__body-bottom_padding: 0px 0px 0px var(--spacing_lg); // Remove right padding because visually it's unneeded
    // }
  }

  /* Copied & pasted from the "Donation Form Thank You Page Card Styles" Code Block on the NWF EN account */
  /* styles for the cards on the thank you page for the donation pages */

  .cards-container {
    background-color: #e0e9ea;

    * {
      box-sizing: border-box;
    }
    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }

    .block {
      background: #fff;
      font-size: 18px;
      line-height: 1.5;
      max-width: 500px;
      width: 100%;
    }
    .block img {
      max-width: 100%;
    }
    .block h1 {
      color: #444;
      font: 1.6666em/1 normal "Patua One", serif;
      margin-bottom: 0;
    }
    .block p {
      font-size: 15px;
      padding-bottom: 0;
      margin-bottom: 0;
      line-height: 1.4em;
      overflow: hidden;
    }
    .block .read-more {
      display: inline-block;
      position: absolute;
      bottom: 1rem;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      background: #2c212e;
      border-radius: 2px;
      width: calc(100% - 2rem);
      margin: 0 auto;
      left: 0;
      right: 0;
      font-size: 14px;
    }
    .block .read-more:hover,
    .block .read-more:focus {
      background-color: #2c8888;
    }
    .cards-title {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 10px;
    }
    .card-section {
      background-color: #e0e9ea;
      margin-top: 80px;
    }
    .blocks {
      display: -ms-flex;
      -ms-flex-flow: row wrap;
      justify-content: center;
      display: flex;
      flex-flow: row wrap;
      background-color: #e0e9ea;
      padding: 10px 0px 80px 10px;
      max-width: 1600px;
      margin: 0 auto;
    }

    a.cards {
      text-decoration: none;
      color: #000;
    }

    a.cards:hover {
      text-decoration: none;
      color: #000;
    }

    .block-label h4 {
      margin: 0;
    }

    article.block img {
      width: 100%;
      margin-bottom: 5px;
    }

    .block {
      -ms-flex: 1 1 calc(50% - 1rem);
      flex: 1 1 calc(50% - 1rem);
      margin-bottom: 1rem;
      margin-right: 1rem;
      padding: 1rem;
      position: relative;
    }
    .block .block:nth-child(even) {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 450px) {
    .cards-container {
      .block {
        flex: 1 1 calc(100% - 1rem);
      }
    }
  }

  @media screen and (min-width: 60em) {
    .cards-container {
      .block {
        flex: 1 1 calc(30% - 1rem);
        overflow: hidden;
      }
      .block:nth-child(even) {
        margin-right: 1rem;
      }

      article.block img {
        max-width: 169px;
        float: left;
        margin-right: 11px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .cards-container {
      .card-section {
        margin-top: 120px;
      }
    }
  }

  /* Migrated from NWF's old CSS */
  /*hides Participation Group fields*/
  // .en__field--NOT_TAGGED_9,
  // .en__field--NOT_TAGGED_39,
  // .en__field--NOT_TAGGED_10,
  // .en__field--NOT_TAGGED_48,
  // .en__field--NOT_TAGGED_50,
  // .en__field--NOT_TAGGED_49,
  // .en__field--NOT_TAGGED_51,
  // .en__field--NOT_TAGGED_41,
  // .en__field--NOT_TAGGED_40,
  // .en__field--NOT_TAGGED_30,
  // .en__field--NOT_TAGGED_44,
  // .en__field--NOT_TAGGED_45,
  // .en__field--NOT_TAGGED_46,
  // .en__field--NOT_TAGGED_43,
  // .en__field--NOT_TAGGED_38,
  // .en__field--NOT_TAGGED_31,
  // .en__field--NOT_TAGGED_32,
  // .en__field--NOT_TAGGED_47,
  // .en__field--NOT_TAGGED_33,
  // .en__field--NOT_TAGGED_34,
  // .en__field--NOT_TAGGED_36,
  // .en__field--NOT_TAGGED_35,
  // .en__field--NOT_TAGGED_42,
  // .en__field--NOT_TAGGED_37,
  // .en__field--NOT_TAGGED_79,
  // .en__field--NOT_TAGGED_108
  // {
  //     display:none;
  // }

  /* Migrated from NWF's old CSS */
  /*hides Web Interest fields*/
  // .en__field--int-animal-bison,
  // .en__field--int-mining-dirty-fuels,
  // .en__field--int-climate-change,
  // .en__field--int-corridors-and-crossings,
  // .en__field--int-renewable-energy,
  // .en__field--int-oceans-coasts-marine-life,
  // .en__field--int-national-parks,
  // .en__field--int-public-lands,
  // .en__field--int-water-for-wildlife,
  // .en__field--int-invasive-species,
  // .en__field--int-animal-bears,
  // .en__field--int-animal-pollinators,
  // .en__field--int-grazing-allotments,
  // .en__field--int-forests,
  // .en__field--int-farms-ranches,
  // .en__field--int-animal-mountain-lion,
  // .en__field--int-animal-big-horn-sheep,
  // .en__field--int-animal-foxes,
  // .en__field--int-adopt-a-wildlife-acre,
  // .en__field--int-animal-wolves,
  // .en__field--int-animal-endangered-species,
  // .en__field--int-connecting-kids-with-nature,
  // .en__field--int-backyard-habitats,
  // .en__field--int-wildlife-recovery-legislation,
  // .en__field--int-animal-birds-water-,
  // .en__field--int-animal-birds-land-,
  // .en__field--int-animal-birds-predatory-,
  // .en__field--int-animal-turtles,
  // .en__field--int-animal-big-cats,
  // .en__field--int-arctic,
  // .en__field--int-animal-otters,
  // .en__field--int-animal-monarchs,
  // .en__field--int-animal-polar-bears,
  // .en__field--int-animal-sage-grouse,
  // .en__field--int-animal-ocean-mammals,
  // .en__field--int-animal-reptiles-amphibians,
  // .en__field--int-animal-large-mammals,
  // .en__field--int-animal-small-mammals,
  // .en__field--int-animal-salmon,
  // .en__field--int-millennial,
  // .en__field--int-environmental-justice,
  // .en__field--interested-in-taking-action-alerts,
  // .en__field--uncheck-all-interests,
  // .en__field--int-hunter,
  // .en__field--int-angler,
  // .en__field--int-leadfree-landscapes {
  //     display:none;
  // }

  div#slider {
    overflow: hidden;
    margin: auto;
    width: 100%;
    margin-bottom: 30px;

    div {
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      font-size: 0;
      animation: 20s slider infinite;

      img {
        width: 20%;
        float: left;
      }
    }
  }

  @keyframes slider {
    0% {
      left: 0%;
    }
    20% {
      left: 0%;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
  }
}

#enModal h1 {
  margin-top: 0;
}

/*Styles for Advocacy Progress Widget */
[data-engrid-theme="nwf"] {
  .enWidget__copy.enWidget__copy--below > div > p {
    display: inline-block;
  }

  .enWidget__copy.enWidget__copy--below > div {
    text-align: center;
  }

  .enWidget__copy.enWidget__copy--below > div > p:nth-child(3n) {
    float: right;
  }

  .enWidget__copy.enWidget__copy--below > div > p:first-child {
    float: left;
  }

  /* without div */
  .enWidget__copy.enWidget__copy--below > p {
    display: inline-block;
  }

  .enWidget__copy.enWidget__copy--below {
    text-align: center;
  }

  .enWidget__copy.enWidget__copy--below > p:nth-child(3n) {
    float: right;
  }

  .enWidget__copy.enWidget__copy--below > p:first-child {
    float: left;
  }
  .enWidget__copy--below {
    margin-top: 0px;
    font-size: 14px;
  }

  .enWidget__progress {
    height: 50px !important;
  }

  .enWidget__fill {
    background-color: rgb(77, 144, 104) !important;
  }

  .enWidget__copy--above {
    margin-bottom: 0px;
  }

  .enWidget__display {
    padding-bottom: 8px;
  }

  .enWidget__progress {
    height: 45px !important;
  }
}

[data-engrid-subtheme="hecho"] {
  @include simple-footer;
  .svg-inline--fa {
    font-size: 38px;
  }

  --color_primary: #41477b;
  --color_primary_overlay: #dadceb;
  --color_primary_accent: #333;
  --color_secondary: #e0e9ea;

  .content-header > * {
    background-color: #5c5478;
    color: #ffffff;
  }

  .content-header {
    padding-bottom: 28px;

    #main-nav {
      background-color: transparent;
      height: auto;
    }

    .navbar-header {
      float: initial;
    }

    .logo_desktop {
      background-color: transparent;
      border-radius: initial;
      height: 153px;
      width: auto;
    }

    .navbar-brand {
      top: 0;

      > img {
        margin-top: 0px;
        margin-left: 25px;

        @media screen and (max-width: 980px) {
          top: 53px;
          margin-left: 0px;
          position: relative;
          transform: scale(0.8);
        }
      }
    }
  }

  .body-top {
    --engrid__body-top_background-color: #d7d4e4;
  }

  --submit__button_background-color: #ea7200;
  --submit__button_background-color_hover: #d66800;

  .content-footer {
    --engrid__content-footer_background-color: #5c5478;
    color: #ffffff;
    --a_color: #ffffff;
    --a_color_hover: #ffffff;
    --a_text-decoration: none;
  }

  .footer-nav {
    font-size: 12px;
  }

  .social-sharing img.social-green {
    filter: hue-rotate(114deg); // Make the green social icons purple
  }
}

[data-engrid-subtheme="action-fund"] {
  @include simple-footer;

  .nav-spacer {
    height: 40px;
    background-color: #f3f3ed;
  }

  #main-nav {
    background-color: #ad7c1d;
  }

  .logo_desktop {
    background-color: transparent;
    border-radius: initial;
    height: 120px;
    width: auto;
  }

  .navbar-brand > img {
    margin-top: -33px;
  }

  @media screen and (max-width: 980px) {
    #main-nav {
      margin-bottom: 1rem;
      height: 82px;
      .navbar-brand > img {
        margin-top: 30px;
        height: 72px;
      }
    }
  }

  .content-footer {
    --engrid__content-footer_background-color: #000000;
    color: #ffffff;
    --a_color: #ffffff;
    --a_color_hover: #4d9068;
    --a_text-decoration: none;
  }
}

[data-engrid-subtheme="garden-for-wildlife"] {
  .logo_desktop {
    background-color: transparent;
    border-radius: initial;
    height: 120px;
    width: auto;
  }

  .navbar-brand > img {
    margin-top: -33px;
  }

  @media screen and (max-width: 980px) {
    #main-nav {
      margin-bottom: 1rem;
      height: 82px;
      .navbar-brand > img {
        margin-top: 30px;
        height: 72px;
      }
    }
  }
}

/* Submit Button */
[data-engrid-theme="nwf"] .en__submit button {
  margin: 1rem auto;
  max-width: 400px;
}

/** Subscription Page - Opt In Styles **/

p.optin-description {
  margin-bottom: -15px;
  position: relative;
  top: -35px;
  right: -30px;
}

/* Advocacy Opt In Style */

label[for="en__field_supporter_questions_882501"] {
  display: none !important;
}

/**  BODY HEADER - H1 **/
.body-header h1 {
  text-align: left;
  line-height: 39px;
}

/** CENTERCENTER 1 COLUMN STYLES **/

//Image lines right up to the header
[data-engrid-layout="centercenter1col"] {
  .en__component.en__component--imageblock {
    margin-top: -25px;
  }

  // Survey Styles - Text Area
  .en__c2c__survey textarea.en__field__input.en__field__input--textarea {
    min-width: 25rem;
    width: 25rem;
  }

  // Survey Styles - Rate
  .en__c2c__survey__rate {
    margin: 0.75rem 0;
    max-width: 25rem;
  }

  // Center Survey Styles
  .en__component.en__component--callsurveyblock {
    margin: 0 auto;
  }
}

/** One Column H1 H2 Styles **/
[data-engrid-layout="centercenter1col"] {
  [data-engrid-theme="nwf"]h1 {
    text-align: left;
    line-height: 39px;
  }
  [data-engrid-theme="nwf"] h2 {
    text-align: left;
  }
}

//TODO This doesn't seem to work
/** Changes body background color **/
[data-engrid-layout="centercenter1col"] {
  --engrid__body-top_background-color: #ffffff;
}

/** EVENT PAGE TYPE **/
[data-engrid-theme="nwf"] {
  // .event-details {
  //   padding: 30px 30px 0;
  //   background-color: #ffffff;
  //   margin-bottom: 30px;
  // }
  // .event-details div {
  //   padding-bottom: 20px;
  // }
  // .event-fineprint {
  //   padding-bottom: 30px;
  // }
  // .event-fineprint p {
  //   font-size: 1.05em;
  //   line-height: 1.4;
  //   padding-bottom: 8px !important;
  // }
  //
  // .en__ticketBlock {
  // border: none;
  // background-color: #e0e9ea;
  // margin-top: 40px;
  // font-family: "Fira Sans", sans-serif;
  // }
  // .en__tickets {
  //   padding: 0;
  // }
  // .en__additional,
  // .en__ticket {
  //   display: block;
  // }
  // .en__additional__amount,
  // .en__additional__label,
  // .en__ticket__currency,
  // .en__ticket__name,
  // .en__ticket__price {
  //   font-size: 1.2em;
  //   font-weight: 500;
  //   color: #4d9068;
  //   text-align: left;
  //   word-wrap: break-word;
  //   line-height: 1.3;
  // }
  // .en__ticket__desc {
  //   text-align: left;
  //   word-wrap: break-word;
  // }
  // .en__ticket__field--info {
  //   padding-right: 0;
  //   width: 100%;
  //   word-break: break-word;
  // }
  // .en__ticket__price {
  //   color: #333;
  // }
  // .en__ticket__field--cost {
  //   width: 20%;
  //   padding: 20px 5px 0;
  //   min-width: 75px;
  // }
  // .en__ticket__price,
  // .en__ticket__currency {
  //   display: inline-block;
  // }
  // .en__ticket__price {
  //   font-size: 1.4em;
  // }
  // .en__ticket__price:before {
  //   content: "$";
  // }
  // .en__ticket__currency,
  // .en__additional__amount {
  //   font-size: 1em;
  //   color: #333;
  // }
  // .en__ticket__field.en__ticket__field--quantity {
  //   padding: 0;
  //   min-width: 100px;
  // }
  // .en__ticket__field {
  //   border-bottom: 7px solid #fff;
  // }
  // .en__ticket__field--quantity {
  //   border-left: 7px solid #fff;
  // }
  // .en__ticket__selector input.en__ticket__quantity {
  //   width: 22px;
  //   padding: 10px 0;
  // }
  // .en__ticket__selector .en__ticket__minus,
  // .en__ticket__selector .en__ticket__plus {
  //   background-color: unset;
  //   border: unset;
  //   margin: 0;
  //   height: 2em;
  //   width: 2em;
  //   background-size: 13px;
  // }
  // .en__additional__amount:before {
  //   content: "$";
  // }
  // .en__additional__promo {
  //   border-left: 7px solid white;
  //   min-width: 100px;
  // }
  // .en__additional__promo input[type="text"] {
  //   padding: 12px 5px;
  // }
  // .en__ticketSummary {
  //   border: none;
  //   background-color: #fff;
  // }
  // .en__ticketSummary__checkout {
  //   background-color: #4d9068;
  //   text-transform: unset;
  //   margin-top: 7px;
  //   width: 133px;
  //   font-size: 16px;
  // }
  // .en__ticketSummary__checkout:hover {
  //   background-color: #666;
  // }
}

[data-engrid-theme="nwf"] {
  // Increase size of the image https://d.pr/v/zLC6Kp
  .en__hubPledge__icon {
    flex-basis: 100%;
  }

  .en__hubOverlay--supportersubscriptions {
    .en__field--question {
      // Hide the unneeded question labels https://d.pr/i/amn2DJ
      > label.en__field__label {
        display: none;
      }

      // Hide the "N" checkboxes https://d.pr/i/I2239i
      input[value="n" i] + label {
        display: none;
      }
    }
  }

  &[data-engrid-page-type="supporterhub"] {
    .body-top {
      padding-bottom: 3rem;
    }

    .body-main {
      align-self: center;

      #account-information {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
    .cards-container {
      margin-top: 0;

      .blocks {
        padding-bottom: 0;
      }

      hubplaceholder {
        .en__component--hubgadget {
          margin: 0;
          padding: 0;
          border: none;
          box-shadow: none;
          cursor: pointer;

          img {
            float: none;
            max-width: 100%;
            margin-right: 0;
          }

          // Give the same styling as an h3
          span {
            color: var(--h3_color);
            font-family: var(--h3_font-family);
            font-weight: var(--h3_font-weight);
            line-height: var(--h3_line-height);
            font-size: var(--h3_font-size);
            margin-bottom: calc(1rem * var(--scale-down_40pct));
            margin-top: calc(2rem * var(--scale-down_40pct));
            text-transform: var(--h3_text-transform);
          }
        }
      }

      p {
        text-align: center;
      }
    }

    .take-action-cards-container {
      margin-top: 0;

      .blocks {
        padding-bottom: 1rem;
      }

      .cards-title h1 {
        margin-top: 0;
      }

      article.block {
        img {
          float: none;
          max-width: 100%;
          margin-right: 0;
        }

        h3 {
          text-align: center;
        }
      }
    }
  }
}
@media screen and (min-width: 599px) {
  .en__registrants__registrantDetails {
    .en__field--registrant[class*="--firstName"],
    .en__field--registrant[class*="--lastName"] {
      flex: 1 0 50%;
    }
  }
}
