<noscript
  >With Javascript disabled this page may not function as expected.</noscript
>

<!-- Quickly check to see if the page is in an iFrame and if so set the corresponding Custom Attribute so it can also set the background-color. Must be after <body> otherwise there will be a flash of color -->
<script>
  if (window.self !== window.top) {
    document
      .getElementsByTagName("BODY")[0]
      .setAttribute("data-engrid-embedded", "");
  }
</script>

<!-- Load ENGrid's CSS here so that it always comes after Engaging Networks CSS which gets injected into <head> -->
<link href="../engrid.css" rel="stylesheet" type="text/css" />

<!-- Body -->
<div class="NWF_name">
  <h4>The National Wildlife Federation</h4>
 </div>
 <div class="nav-spacer"></div>
 <nav id="main-nav" class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
     <a class="navbar-brand" href="https://www.nwf.org">
      <img class="logo_desktop" src="https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10033/NWF_Logo_Header_2x.png?v=1542648789000" alt="The National Wildlife Federation">
     </a>
   </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"></div>
</nav>
